*{
    padding: 0px;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica', sans-serif !important;

}
$border-color: #2f3336;
$color-grey:#6e767d;
$color-white:#fff;
$user-call-color : #1da1f2;
html,body{
    background: #000;
    height: 100%;
    width: 100%;
}
#root{
    display: flex;
    height: 100%;
    align-items: center;
}
.tweet-settings{
    width: 320px;
    overflow: auto;
    color: $color-white;
    border-right: 1px solid $border-color;
    height: 100%;
    padding:25px;
    h3{
        font-size: 24px;
        font-weight: normal;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    ul{
        li:not(:last-child){
            margin-bottom: 20px;
           
        }
        li label{
            font-size: 15px;
            margin-bottom: 5px;
            display: block;
            color: $color-grey;
            }
        li select{
            width: 100%;
            background-color:transparent;
            color: $color-white;
            border-bottom:1px solid $border-color;
            padding: 10px 0px 15px;
            font-size: 15px;
            line-height: 1.5;
            option{
                color:black;
                
            }
        }
    }
    .input{
        width: 100%;
        background-color:transparent;
        border-bottom:1px solid $border-color;
        color: $color-white;
        padding: 10px 0px 15px;
        font-size: 15px;
        line-height: 1.5;
        resize: none;
        &::placeholder{
            color: $color-white;
           
        }
        &:focus{
            border-color: #4e555a;
        }
    }
    button{
        width: 100%;
        height: 40px;
        font-size: 16px;
        color: $color-white;
        background-color:$user-call-color;
        cursor: pointer;
    }
}
.tweet-container{
    padding:0 50px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    .fetch-info{
        margin-bottom: 30px;
        width: 600px;
        display: flex;
        input{
            flex:1;
            background: $border-color;
            height: 40px;
            line-height: 40px;
            border-radius: 3px 0 0 3px;
            color: $color-white;
            padding: 0 0 0 15px;
        }
        button{
            height: 40px;
            padding: 0 20px;
            font-size: 15px;
            color: $color-white;
            background: $user-call-color;
            border-radius: 0 3px 3px 0;
            color: $color-white;
            padding: 0 15px;
            font-size: 15px;
        }
    }
}
.tweet{
    border: 1px solid $border-color;
    width: 600px;
    margin: 25px auto;
    padding: 0 16px;
    background-color: #000;
    &-author{
        height: 48px;
        margin-top: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        font-size: 15px;
        img{
            width: 48px;
            height: 48px;
            border-radius: 100px;
            margin-right: 12px;
            object-fit: cover;
        }
        .name{
            color: #cccccc;
            font-weight: 700;
            display: flex;
            align-items: center;
            height: 19px;
        }
        .username{
            color:$color-grey
        }
        .verified-icon{
            margin-left: 3px;
        }
    }
    &-content{
        padding: 12px 0;
        p{
            font-size: 23px;
            line-height: 28px;
            color: $color-white;
            overflow: hidden;
            word-wrap: break-word;
            span{
                color:$user-call-color;
            }
        }
    }
    &-stats{
        height: 53px;
        display: flex;
        color: $color-grey;
        align-items: center;
        font-size: 15px;
        border-top: 1px solid $border-color;
        b{
            color:$color-white;
        }
        span:not(:last-child){
            margin-right: 20px;
        }
    }
    &-actions{
        height: 48px;
        display: flex;
        border-top: 1px solid $border-color;
        color: $color-white;
        align-items: center;
        justify-content: space-around;
    }
}